.btn-search {
    transition: all .5s ease-in-out;
}

/*Upper Bar*/
.upper-bar .upper-cont {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .upper-bar .upper-cont {
        max-width: 960px;
    }
}


/*End Upper Bar*/


/* sign in FORM */
.logreg-forms {
    width: 412px;
    margin: 10vh auto;
    background-color: #f3f3f3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.logreg-forms h1{
    color: #c0c0c0;
}
.logreg-forms h1 span{
    cursor: pointer;
}
.logreg-forms [data-class="form-signin"].selected{
    color: #007bff;
}
.logreg-forms [data-class="form-signup"].selected{
    color: #28a745;
}

.logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}

.logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.logreg-forms button[type="submit"] {
    margin-top: 10px;
}
.logreg-forms .form-signup{
    display:none;
}

.logreg-forms .msg{
    padding: 10px;
    text-align: left;
    background-color: #fff;
    margin-bottom: 8px;
    border-left:5px solid #cd6858;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    color: #919191;

}
.logreg-forms .the-error .error{
    border-left:5px solid #cd6858;
}
.logreg-forms .the-error .success{
    border-left:5px solid #28a745;
}